body{
    background-image: url("backgroundportfolio.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
header ul {
    margin-left: 900px;
    list-style: none;
 
}
header ul li{
    margin-right: 17px; 
    display: inline-block;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: black;
}
fieldset  {
    border-radius: 70px;
    margin-top:10%;
    border: 5px solid black;
    text-align: center;
}
fieldset legend{
    font-family: 'Lobster', cursive;
    font-size: 40px;
}
fieldset  ul  {
   
    color: black;
    list-style:none;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}
a {
    color: #000;  

  }